<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/card.css">
    <title>Document</title>
</head>
<body>
</head>
<body>
    <div class="options-container">
        <button onclick="window.location.href='/listar_usuarios'">Listar Usuários</button>
        <button onclick="window.location.href='/cadastrar_usuario'">Cadastrar Usuário</button>
        <button onclick="window.location.href='/estoque'">Estoque</button>
    </div>
</body>
</html>
</body>
</html>